.code-block {
  display: flex;
  flex-direction: column;
  background-color: theme("colors.brand.k");
  margin: 40px 0px 0px 0px;
  width: 100%;
  overflow: hidden;
  font-size: theme("fontSize.blog") !important;
}

.content {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 600px;
  background-color: theme("colors.codeblock.k2");
  position: relative;
  --bsmnt-color-text: theme("colors.brand.w2");
  --bsmnt-background: theme("colors.codeblock.k2");
  --bsmnt-token-constant: theme("colors.codeblock.lo");
  --bsmnt-token-string: theme("colors.brand.w1");
  --bsmnt-token-comment: theme("colors.brand.g1");
  --bsmnt-token-keyword: theme("colors.codeblock.lo");
  --bsmnt-token-parameter: theme("colors.brand.w1");
  --bsmnt-token-function: theme("colors.codeblock.o");
  --bsmnt-token-string-expression: theme("colors.codeblock.do");
  --bsmnt-token-punctuation: theme("colors.brand.o");
  --bsmnt-token-link: theme("colors.codeblock.lo");
  --bsmnt-token-tag: theme("colors.codeblock.o");
}

.pre {
  margin: 0 !important;
  padding: 1.5rem 1.5rem 1.5rem 0 !important;
  background-color: theme("colors.brand.k") !important;
  color: theme("colors.brand.w2");
  counter-reset: line;
}

.line {
  counter-increment: line;
}

.line::before {
  content: counter(line);
  display: inline-block;
  width: 44px;
  padding-right: 16px;
  text-align: end;
  color: theme("colors.brand.g2");
  background-color: theme("colors.codeblock.k2");
  user-select: none;
  pointer-events: none;
  position: sticky;
  left: 0;
}
