@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-layout {
    @apply mx-auto grid w-full max-w-full grid-cols-12 gap-2 px-4;
  }

  .corner-borders {
    --b: 1px;
    --c: #e6e6e6;
    --w: 8px;

    border: var(--b) solid transparent;
    --_g: transparent 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
      conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 /
        var(--_p),
      conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100%
        0 / var(--_p),
      conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0
        100% / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
        100% 100% / var(--_p);
  }

  .actionable {
    @apply font-semibold underline;
  }

  .text-h2.actionable,
  .text-h2 .actionable {
    @apply underline-offset-[5px] [text-decoration-thickness:2px];
  }

  .text-paragraph.actionable,
  .text-paragraph .actionable {
    @apply underline-offset-[1.5px] [text-decoration-thickness:0.5px];
  }

  .text-subheading.actionable,
  .text-subheading .actionable {
    @apply underline-offset-[3px] [text-decoration-thickness:1px];
  }

  .with-dots {
    --tw-gradient-stops: theme("colors.brand.w1") 0px,
      theme("colors.brand.w1") 1px, transparent 1px,
      transparent calc(100% - 1px), theme("colors.brand.w1") calc(100% - 1px),
      theme("colors.brand.w1") 100%;

    @apply relative;
    @apply after:pointer-events-none after:absolute after:left-0 after:right-0 after:top-0 after:z-10 after:h-px after:bg-gradient-to-r;
    @apply before:pointer-events-none before:absolute before:-bottom-0 before:left-0 before:right-0 before:z-10 before:h-px before:bg-gradient-to-r;
  }

  .with-diagonal-lines {
    @apply relative overflow-hidden;
    @apply after:pointer-events-none after:absolute after:-inset-12 after:from-brand-w1/[0.12];
  }

  .with-diagonal-lines:after {
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 3.181989515px,
      var(--tw-gradient-from) 3.181989515px,
      var(--tw-gradient-from) 4.242640687px
    );

    animation: diagonalPatternAnimation 3s linear infinite;
  }
}

html {
  @apply scroll-smooth;
  font-feature-settings: "ss01";
}

body {
  @apply bg-brand-k font-sans antialiased;
  text-rendering: optimizeLegibility;
}

*::selection {
  /* TODO: Add selection styles */
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes diagonalPatternAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(48px);
  }
}

button:focus,
a:focus {
  @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-orange-500;
}
