@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .remove-focus-styles {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
    ring: 0 !important;
    --tw-ring-offset-width: 0 !important;
    --tw-ring-offset-color: transparent !important;
    --tw-ring-color: transparent !important;
    --tw-ring-offset-shadow: 0 0 transparent !important;
    --tw-ring-shadow: 0 0 transparent !important;
  }

  .grid-layout {
    @apply mx-auto grid w-full max-w-full grid-cols-4 gap-2 px-4 lg:grid-cols-12;
  }

  .corner-borders {
    --b: 1px;
    --c: #e6e6e6;
    --w: 8px;

    border: var(--b) solid transparent;
    --_g: transparent 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
      conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 /
        var(--_p),
      conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100%
        0 / var(--_p),
      conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0
        100% / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
        100% 100% / var(--_p);
  }

  .actionable {
    --anim-duration: 420ms;
    --anim-delay: 0ms;
    --opacity-hover-value: 100;
    --opacity-hover-anim-target: 80;

    --text-shadow-color: color-mix(
      in srgb,
      currentColor calc(var(--opacity-hover-value) * 1% * 0.5),
      transparent
    );
    --color-mix: color-mix(
      in srgb,
      currentColor calc(var(--opacity-hover-value) * 1%),
      transparent
    );

    color: var(--color-mix) !important;

    &:not(.actionable-no-underline) {
      --underline-height: max(0.06em, 1px);
      @apply font-semibold;
      @apply before:absolute before:-bottom-[round(var(--underline-height),1px)] before:left-0 before:h-[round(var(--underline-height),1px)] before:w-full before:bg-[var(--color-mix)] before:transition-opacity before:[--opacity-hover-value:100];
      @apply hover:before:opacity-0;
    }

    @apply relative transition-colors duration-100 ease-linear;
    @apply focus:animate-actionable-blink focus:[--opacity-hover-value:var(--opacity-hover-anim-target)];
    @apply hover:animate-actionable-blink hover:[--opacity-hover-value:var(--opacity-hover-anim-target)] hover:[text-shadow:0px_0px_30px_var(--text-shadow-color)];
  }

  .actionable[target="_blank"] {
    @apply cursor-alias;
  }

  .text-h2.actionable,
  .text-h2 .actionable {
    @apply underline-offset-[5px] [text-decoration-thickness:2px];
  }

  .text-paragraph.actionable,
  .text-paragraph .actionable {
    @apply underline-offset-[1.5px] [text-decoration-thickness:0.5px];
  }

  .text-subheading.actionable,
  .text-subheading .actionable {
    @apply underline-offset-[3px] [text-decoration-thickness:1px];
  }

  .with-dots {
    --tw-gradient-stops: theme("colors.brand.w1") 0px,
      theme("colors.brand.w1") 1px, transparent 1px,
      transparent calc(100% - 1px), theme("colors.brand.w1") calc(100% - 1px),
      theme("colors.brand.w1") 100%;

    @apply relative;
    @apply after:pointer-events-none after:absolute after:left-0 after:right-0 after:top-0 after:z-10 after:h-px after:bg-gradient-to-r;
    @apply before:pointer-events-none before:absolute before:-bottom-0 before:left-0 before:right-0 before:z-10 before:h-px before:bg-gradient-to-r;
  }

  .with-diagonal-lines {
    @apply relative overflow-hidden;
    @apply after:pointer-events-none after:absolute after:-inset-12 after:from-brand-w1/[0.20];
  }

  .with-diagonal-lines:after {
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 3.181989515px,
      var(--tw-gradient-from) 3.181989515px,
      var(--tw-gradient-from) 4.242640687px
    );

    /* TODO: Find some alternative method to display the animated diagonallines without causing glitches */
    /* animation: diagonalPatternAnimation 3s linear infinite; */
  }
}

html {
  @apply scroll-smooth;
  font-feature-settings: "ss01";
}

body {
  @apply bg-brand-k font-sans antialiased;
  text-rendering: optimizeLegibility;
}

*::selection {
  color: #000;
  background-color: #ff4d00;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes diagonalPatternAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(48px);
  }
}

button:focus,
input:focus,
a:focus {
  @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-orange-500;
}

.blog-list {
  & li {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -10px;
      top: 9px;

      width: 4px;
      height: 4px;

      background-color: theme("colors.brand.o");
    }
  }
}

.blog-list-item {
  @apply marker:text-brand-o;

  & ol {
    @apply marker:text-brand-g1;
  }

  & ul {
    li {
      @apply before:!bg-brand-g1;
    }
  }
}

/* tweet component */

.react-tweet-theme {
  --tweet-bg-color: theme("colors.brand.k") !important;
  --tweet-bg-color-hover: rgba(255, 255, 255, 0.05) !important;
  --tweet-border: 1px solid theme("colors.brand.g2") !important;
  --tweet-color-blue-secondary-hover: rgba(255, 255, 255, 0.05) !important;
  --tweet-skeleton-gradient: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.05) 100%
  ) !important;

  max-width: 100% !important;
  border-radius: 0 !important;

  & div[class*="media"],
  & div[class*="replies"] {
    border-radius: 0 !important;

    & > a {
      border-radius: 0 !important;
    }
  }
}

.stacked-card {
  animation-name: progressiveOpacity;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-fill-mode: forwards;
  animation-timeline: view(block);
  animation-range: entry 0% cover 38%;
}

@keyframes progressiveOpacity {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  100% {
    background-color: rgba(0, 0, 0, 1);
  }
}
