@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .actionable {
    @apply text-paragraph underline underline-offset-[1.5px] [text-decoration-thickness:0.5px];
  }
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-sans antialiased;
  text-rendering: optimizeLegibility;
}

*::selection {
  /* TODO: Add selection styles */
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
