body {
  --mask-in: url("/page-transition-sprite.svg");
  --mask-frames: 15;
  --mask-speed: 0.75;
  --speed: calc(var(--mask-speed, 0.5) * 1s);
  --size: 100vw;
}

.layout-container {
  /* .canvas-container */
  mask-repeat: repeat-y;
  mask-size: calc((var(--mask-frames) + 1) * var(--size)) var(--size);
}

.layout-container {
  --position: 100%;
  mask-image: var(--mask-in);
  transition: mask-position var(--speed) calc(var(--speed) * 0)
    steps(var(--mask-frames));
  mask-position: var(--position, 100%) 0%;
}

/* .canvas-container {
  --position: 0%;
  mask-image: var(--mask-out);
  transition: mask-position var(--speed) steps(var(--mask-frames));
  mask-position: var(--position, 100%) 0%;
} */

[data-flip="true"] {
  .layout-container {
    --position: 0%;
    transition:
      mask-position var(--speed) steps(var(--mask-frames)),
      transform var(--speed) steps(var(--mask-frames));
  }

  /* .canvas-container {
    --position: 100%;
    transition: mask-position var(--speed) calc(var(--speed) * 0)
      steps(var(--mask-frames));
  } */
}

/* [data-disabled="true"] {
  .layout-container {
    mask-image: none;
    --position: 100%;
    transition: mask-position 0s;
  }

  /* .canvas-container {
    mask-image: none;
    --position: 100%;
    transition: mask-position 0s;
  } */
/* } */
