body {
  --speed: calc(var(--mask-speed, 0.5) * 1s);
  --size: 100vw;
}

.layout-container,
.canvas-container {
  mask-image: var(--mask-image);
  mask-repeat: repeat-y;
  mask-size: calc((var(--mask-frames) + 1) * var(--size)) var(--size);
  mask-position: var(--position, 100%) 0%; /* TODO: align masks by taking into account the scroll position */
}

.layout-container {
  --position: 100%;
  mask-image: var(--mask-in);
  transition: mask-position var(--speed) var(--speed) steps(var(--mask-frames));
}

.canvas-container {
  --position: 0%;
  mask-image: var(--mask-out);
  transition: mask-position var(--speed) steps(var(--mask-frames));
}

[data-flip="true"] {
  body {
    background-color: #ff4d00;
  }

  .layout-container {
    --position: 0%;
    transition:
      mask-position var(--speed) steps(var(--mask-frames)),
      transform var(--speed) steps(var(--mask-frames));
  }

  .canvas-container {
    --position: 100%;
    transition:
      mask-position var(--speed) var(--speed) steps(var(--mask-frames)),
      transform var(--speed) steps(var(--mask-frames));
  }
}

[data-disabled="true"] {
  .layout-container {
    --position: 100%;
    transition: mask-position 0s;
  }
  .canvas-container {
    --position: 100%;
    transition: mask-position 0s;
  }
}
