.code-block {
  display: flex;
  flex-direction: column;
  background-color: theme("colors.brand.k");
  margin: 1.5rem 0;
  width: 100%;
  overflow: hidden;
}

.content {
  overflow-x: auto;
  background-color: theme("colors.brand.k");
  position: relative;
  --bsmnt-color-text: theme("colors.brand.w2");
  --bsmnt-background: theme("colors.brand.k");
  --bsmnt-token-constant: theme("colors.brand.o");
  --bsmnt-token-string: theme("colors.brand.w1");
  --bsmnt-token-comment: theme("colors.brand.g1");
  --bsmnt-token-keyword: theme("colors.brand.o");
  --bsmnt-token-parameter: theme("colors.brand.w2");
  --bsmnt-token-function: theme("colors.brand.w2");
  --bsmnt-token-string-expression: theme("colors.brand.w2");
  --bsmnt-token-punctuation: theme("colors.brand.o");
  --bsmnt-token-link: theme("colors.brand.o");
}

.pre {
  margin: 0 !important;
  padding: 1.5rem;
  /* font-size: theme("fontSize.heading") !important; */
  font-size: 0.875rem !important;
  background-color: theme("colors.brand.k") !important;
  color: theme("colors.brand.w2");
}

.line_indicator {
  display: inline-block;
  pointer-events: none;
  position: sticky;
  left: 0;
  background-color: theme("colors.brand.k");
  color: theme("colors.brand.g1");
  user-select: none;
  width: 44px !important;
  text-align: end;
  padding-right: 12px !important;
}
